[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Architects Daughter', sans-serif;
}

.header {
  text-align: center;
}

.design-thumbnail {
  display: block;
  margin: 0 auto;
  max-height: 700px;
  max-width: 400px;
}

.design-name {
  text-align: center;
}

form {
  text-align: center;
}

input {
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 100%;
  text-align: center;
  background-color: white;
  border: solid grey 2px;
  margin: 10px;
}