[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header {
  text-align: center;
}

.design-thumbnail {
  display: block;
  margin: 0 auto;
  max-height: 800px;
  max-width: 500px;
}